
<div class="header"
     th:fragment="header">
    <a href="/get-all-sales-men">Show All Sales Men</a>
    <a href="/get-all-customers">Show All Customers</a>
    <a href="/get-all-products">Show All Products</a>
    <div class="devider"></div>
    <a href="/get-all-sales">Show All Sales</a>
    <a href="/get-sales-by-date">Sales By Date</a>
    <a href="/get-sales-by-date-diapason">Sales By Date Diapason</a>
    <a href="/get-sales-by-sales-man">Sales By Sales Man</a>
    <a href="/get-sales-by-customer">Sales By Customer</a>
    <div class="devider"></div>
    <a href="/get-best-sales-man">The Best Sales Man</a>
    <a href="/get-best-customer">The Best Customer</a>
    <a href="/get-avg-sale-price">Avg Sale Price</a>
    <a href="/get-most-popular-product">Most Popular Product</a>
    <div class="devider"></div>
    <a href="/add-rows">Add Rows</a>
    <a href="/update-rows">Update Rows</a>
    <a href="/delete-rows">Delete Rows</a>
</div>